.header{
  width: 100%;
}

.header__container{
  min-height: calc(100vh - 70px);
  background: linear-gradient(rgba(249,228,148,0.5), rgba(249,228,148,0.5)),
  url("https://js-beginners.github.io/filter-project/img/headerBcg.jpeg") center/cover fixed no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}